@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.img-fondo{
  min-height: 130vh;
  width:100vw;
  background-image: url('./Ultima-1.gif');
  background-size: cover;
  background-repeat: no-repeat;

  
}
.textoPrincipal{
color: whitesmoke;
  font-size: 3rem;
  margin-top: 200px;
  font-family: 'Fredoka One', cursive;
}
.fotoSonbremi{
  height: 90vh;
  width: 100%;
  background-image: url('./Sin-título-2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.punto{
  font-size: 3rem;
  color: rgb(255, 0, 98);
}
.textosobremi{
  font-size:3rem;
  font-family: 'Fredoka One', cursive;
}
.textoColor{
  font-size: 2rem!important;
  color: crimson;
}
.linea{
  background-color:rgb(255, 0, 98);
  height: 2px;
  margin: 55px;
}
.textoInfo{
  color: rgb(2, 2, 2)
}
.skills{
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
}
.tituloContacto{
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
}
.contacto{
  margin: 0;

}
.conteinerskills{
  background-color: rgb(15, 15, 15);
  min-height: 100vh;

}
.form-basic{
  background-color: rgb(36, 36, 36) !important;
  height: 60px !important;
  border: black solid 1px !important;
}
.form-basic-area{
  background-color:rgb(36, 36, 36) !important; 
  border: black solid 1px;
  height: 140px !important;
}
.botones{
  height: 50px !important;
  background-color: rgb(255, 0, 98) !important;
  border: solid 1px rgb(255, 0, 98) !important;
}
.botones-trans{
  height: 50px !important;
  border: solid 2px rgb(255, 0, 98) !important;
  background-color: transparent !important;
}
.botones-trans:hover{
  background-color: rgb(255, 0, 98)!important;
}

.progress-bar-animated{
  background-color: rgba(250, 4, 78, 0.979) !important;

}
.iconos{
  color: rgb(255, 0, 98)!important;;
}
.nav-link{
  font-size: 2rem !important;
}
.nav-link:hover{
  color: rgb(255, 0, 98) !important;
}
.navbar-expand{
  background-color: rgba(161, 37, 85, 0.096);
}
.textosobremi:hover{
font-size: 4rem;
transition: 0.8s;
}
.skills:hover{
  font-size: 4rem;
  transition: 0.9s;
}
.tituloContacto:hover{
  font-size: 4rem;
  transition: 0.8s;
}.botones-trans:hover{
  height: 90px !important;
  transition: 0.8s;
  font-size: 2rem;
}
.botones:hover{
  height: 90px !important;
  transition: 0.8s;
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} @media (max-width:980px) and (min-width:250px){
  .fotoSonbremi{
    display: none;
  }
  .textoPrincipal{
    color: whitesmoke;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
  padding: 5px !important;
  }
  .textosobremi{
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
    margin: 0 !important;
    padding: 0 !important
  }
  .tituloContacto .skills{
    font-size: 2rem;
  }
  .cajaSobremi{
    padding: 0 !important;
  }
  .textoInfo{
    font-size: 0.6rem;
  }
  .presentacion{
    font-size: 0.8rem;
  }
  .img-fondo{
    height: 90vh;
    width:100vw;
    background-image: url('./Ultima-1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  .contacto{
    margin: 0;
    padding: 0 !important;
    
  }
  .conteinerskills{
    background-color: rgb(15, 15, 15);
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  
  }
  .redescontac{
    font-size: 0.5rem !important;
  }
  .nav-link{
    font-size: 1rem !important;
  }
  .botones-trans{
    font-size: 1rem !important;
  }
  .botones{
    font-size: 1rem !important;
  }
}
